:root {
  font-size: 14pt;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: default;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-size: xx-large;
  margin: 0%;
}

div {
  width: auto;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th {
  padding: auto;
  text-align: center;
  font-weight: lighter;
  font-size: 0.8em;
}

tbody {
  border: 1px solid #c9c9c9;
}

td {
  height: 5em;
  vertical-align: 2px;
  border: 0.1px solid #c9c9c9;
}

td:hover {
  outline: 2px solid #fcd09d;
  border-color: #fcd09d;
}

td:hover .add {
  visibility: visible;
}

.menu {
  position: fixed;
}

.hamburger {
  font-size: 2em;
  transform: scaleX(1.5);
}

.calendar {
  height: auto;
  min-width: 550px;
  user-select: none;
  margin: 1% auto;
}

.calendar table {
  margin: auto;
  border-collapse: separate;
  width: 70%;
  border-spacing: 0;
  table-layout: fixed;
}

.select {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  align-items: center;
}

.move {
  height: 35px;
  aspect-ratio: cos(30deg);
  background: #b4e1da;
}

.move:hover {
  background: #fcd09d;
}

.top {
  display: flex;
  justify-content: space-between;
}

.date {
  text-align: center;
  width: 1.3em;
  margin: 0 0 0 2px;
}

.add {
  text-align: center;
  margin: auto 2px;
  width: 1.3em;
  height: 1.3em;
  visibility: hidden;
  background-color: #000000;
  color: #ffffff;
}

.add a {
  color: #ffffff;
  text-decoration: none;
}

.schedules {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
}

.event {
  font-size: 0.7em;
  background-color: #c1ece6;
  border-radius: 2px;
  text-align: left;
  width: 100%;
  margin: 1px;
  white-space: nowrap;
  overflow: hidden;
}

.upcoming-tasks {
  margin-top: 20px;
  padding: 15px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.task-title {
  font-size:1.0em;
}

.task-deadline {
  color:  red;
  font-size: 1.0em;
}

.task-content {
  margin-top: 5px;
}

#title_month {
  font-size: 1.3em;
}

#title_year {
  font-size: 0.7em;
}

#last_month {
  clip-path: polygon(0% 50%,100% 0,100% 100%);
  margin: 0 40px 0 10%;
  width: 25px;
  height: 30px;
}


#next_month {
  clip-path: polygon(100% 50%,0 100%,0 0);
  margin: 0 10% 0 40px;
  width: 25px;
  height: 30px;
}

#today {
  background-color: #f2f2f2;
}

.sidebar {
  width: 96px;
  background-color: moccasin;
  box-sizing: border-box;
  border: 8px solid chocolate;
}