form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}


.form-group {
    margin-bottom: 15px;
}

.title {
    text-align: center;
    margin-right: 37px;
}


.detail {
    text-align: center;
    margin-right: 0px;
}

input[type="text"] {
    width: 200px; 
    padding: 5px;
}

