<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>達成済みリスト</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
        <script type="text/javascript" src="../static/main.js"></script>
    </head>
    <body>
        <h1>達成済み</h1>
        <table>
            <thead>
                <tr>
                    <th>年</th>
                    <th>月</th>
                    <th>日</th>
                    <th>タイトル</th>
                    <th>内容</th> 
                    <th>達成日</th>           
                </tr>
            </thead>
            <tbody>
                {% for ach in items %}
                <tr>
                    <td>{{ ach.year }}</td>
                    <td>{{ ach.month }}</td>
                    <td>{{ ach.day }}</td>
                    <td>{{ ach.title }}</td>
                    <td>{{ ach.todo }}</td>
                    <td>{{ ach.doneDay }}</td>
                </tr>
                {% endfor %}
                <a href="/">トップページに戻る</a>
            </tbody>
        </table>
    </body>
</html>