<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新規作成</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='calender-form.css') }}">
</head>
<body>
    <h1>新規カレンダー作成</h1>
    <form action="{{ url_for('myCalendar.make') }}" method="post">
        <div class="form-group category">
        <label>カテゴリ: <input type="text" name="category" required></label><br>
        </div>
        <button type="submit">追加</button>
    </form>
</body>
</html>
