<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>予定編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
    <script type="text/javascript" src="../static/main.js"></script>
</head>
<body>
    <h1>予定を編集</h1>
        <li><a href="{{ url_for('myCalendar') }}">予定一覧</a></li>
        <li>編集</li>
    </ul>

    <form action="{{ url_for('myCalendar_edit.achieve_list') eventCalendar_id=EventCalendar.id}}" method="post">
        <label>月: <input id="month" type="number" name="month" value="{{ cal.month }}" required></label><br>
        <label>日: <input id="day" type="number" name="day" value="{{ cal.day }}" required></label><br>
        <label>タイトル: <input id="title" type="text" name="title" value="{{ cal.title }}" required></label><br>
        <label>内容: <input id="todo" type="text" name="todo" value="{{ cal.todo }}" required></label><br>
        <button type="submit">保存</button>
        <button type="submit" id="achieve">完了</button>
    </form>
    <script>
        document.getElementById('achieve').addEventListener("click", function () {
            // 入力データの取得
            const month = document.getElementById('month').value;
            const day = document.getElementById('day').value;
            const title = document.getElementById('title').value;
            const todo = document.getElementById('todo').value;

            // クエリパラメータを生成
            const queryParams = new URLSearchParams({
                month: month,
                day: day,
                title: title,
                todo: todo
            }).toString();

            // 遷移
            window.location.href = "{{ url_for('myCalendar_edit.achieve_list') }}?" + queryParams;
        });
    </script>
</body>
</html>
