<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>カレンダー</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>


<body>
  <div class="calendar">
    <h1>{{ originalName }}カレンダー</h1>
      <table>
        <div class="select">
          {% if month == 1 %}
            <button class="move">12</button>
          {% else %}
            <button class="move">{{ month-1 }}</button>
          {% endif %}
          <div>{{ month }}月</div>
          {% if month == 12 %}
            <button class="move">1</button>
          {% else %}
            <button class="move">{{ month+1 }}</button>
          {% endif %}
        </div>
        <thead>
        <tr>
          {% for day in days %}
            <th scope="col">{{ day }}</th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
          {% for week in my_calendar%}
            <tr>
              {% for date in week %}
                {% if date == 0 %}
                  <td></td>
                {% elif date == today %}
                  <td id="today">
                    <div>
                      <div class="date">{{ date }}</div>
                    </div>
                  <button><a href="{{ url_for('myCalendar.add') }}">ボタンも入る</a></button>
                  </td>
                {% else %}
                  <td>
                    <div>
                      <div class="date">{{ date }}</div>
                    </div>
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  <div>
    <div class="upcoming-tasks">
      <h2>期限の近いタスク</h2>
      {% if upcoming_tasks %}
        <ul class="task-list">
          {% for task in upcoming_tasks %}
            <li class="task-item">
            <div class="task-deadline">期限：{{ task.add_month }}月{{ task.add_day }}日</div>
            <div class="task-title">タイトル:{{ task.add_title }}</div>  
            <div class="task-content">内容:{{ task.add_todo }}</div>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>予定を追加してください</p>
      {% endif %}
    </div>
  </div>
</body>
</html>
